.block-accordion {
  @include content-width();

  @include ld-margin-bottom($gutter);

  @include md-min{
    @include ld-margin-bottom($gutter*2);
  }

  @include xl-min{
    @include ld-margin-bottom($gutter*4);
  }

  .ns-paragraph {
    @include reset-width();
    @include font-size($font-settings-text-lg);
  }
}

.accordion__header {
  padding: 30px 0;
  border-top: 1px solid $color-dark-gray;
  cursor: pointer;
  @include flexbox($justify-content: space-between, $align-content: center);
  @include md-min{
    padding: $gutter*2 0;
  }
}

.accordion__title {
  @include font-size($font-settings-text-lg);
}

.accordion__icon {
  position: relative;
  @include size(28px);

  &:before,
  &:after {
    content: "";
    background: $color-dark-gray;
    width: 28px;
    height: 2px;
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    transition: 0.4s transform ease-in;

    .accordion__group--open &{
      transform: rotate(180deg);
    }
  }

  &:after {
    transition: 0.5s transform ease-out;
    transform: rotate(-90deg);

    .accordion__group--open & {
      transform: rotate(0);
    }
  }
}

.accordion__content {
  display: none;

  .block-accordion & {
    padding-bottom: $gutter*2;
  }
}

.accordion__content-logos,
.accordion__content-text {
  @include flexbox();

  @include sm-min {
    margin: 0 $gutter / 2 * -1;
  }
}

.accordion__content-logos {
  display: none;

  @include md-min {
    @include flexbox();
  }
}


.accordion__content-text {
  margin-bottom: 5rem;
  margin-top: $gutter / 2 * -1;
  @include font-size($font-settings-text-md);
}

.accordion__col {
  margin-bottom: $gutter * 3;
  width: 100%;

  @include sm-min {
    width: 50%;
    padding: 0 $gutter / 2
  }

  .accordion__content-text & {
    margin-top: $gutter / 2;
    margin-bottom: 0;
  }
}

.accordion__col--logo {
  width: 100%;

  @include lg-min {
    width: 33.333333%;
  }
}

.accordion__col--logo {
  @include md-min {
    width: 33.333333%;
  }
}

.accordion__col--text-mobile {
  @include md-min {
    display: none;
  }
}

.accordion__logo {
  display: none;
  max-width: 100%;

  @include md-min {
    display: block;
  }

  svg {
    max-width: 100%;
  }
}
