.wp-block-image {
  @include screen-width();
  margin-bottom: 0;
  margin-top: $gutter*6;
  @include ld-margin-bottom($gutter*3);

  @include md-min{
    @include ld-margin-bottom($gutter*6);
  }

  img{
    width: 100%;
  }

  figcaption {
    width: 100%;
    text-align: left;
    display: block !important; // overwriting WP default;
    @include font-size($font-settings-text-sm);
    margin-top: $gutter;
    margin-bottom: 0;
  }
}

.alignleft {
  &,
  .wp-block-image &{
    display: block;
    float: none !important;
    @include full-width();
  }
  img,
  figcaption {
    width: 75%;
  }
}

.aligncenter {
  &,
  .wp-block-image &{
    display: block;
    @include full-width();
  }
  img,
  figcaption {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.alignright {
  &,
  .wp-block-image &{
    display: block;
    float: none !important;
    @include full-width();
  }
  img,
  figcaption {
    width: 75%;
    margin-right: 0;
    margin-left: auto;
  }
}

.alignwide{
  &,
  .wp-block-image &{
    display: block;
    @include full-width();
  }
  img,
  figcaption {
    width: 100%;
  }
}
