.links-list {
  @include font-size($font-settings-text-lg);
  @include content-width();
}

.links-list__link {
  width: 100%;
  color: $color-main-text;
  border-top: 1px solid $color-main-text;
  padding: $gutter*2 0;
  @include flexbox(row, nowrap, space-between, center);

  .grey-theme & {
    color: $color-white;
    border-color: $color-white;
  }

  &.active {
    color: $color-orange;
  }

  &:hover {
    color: $color-main-text;

    .grey-theme & {
      color: $color-white;
    }

    .links-list__icon {
      animation: bounce-right 2s infinite;
    }
  }
}

.links-list__icon {
  width: 35px;

  .nhs-icon {
    width: 100%;

    svg {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
