.load-more {
  @include full-width;
  @include flexbox(row, wrap, center, center);
  @include ld-margin-bottom($gutter*6);

  @include xl-min{
    @include ld-margin-bottom($gutter*9)
  }
}

.load-more__button {
  @include font-size($font-settings-btn-lg);
  @include flexbox(row, wrap, space-between, flex-end);

  &:hover {
    .load-more__button-icon {
      animation: bounceDown 2s infinite;
    }
  }
}

.load-more__button-text {
  text-align: left;
  margin-right: $gutter;

  @include md-min{
    margin-right: $gutter*4;
  }
}
