.nhs-big-btn {
  @include font-size($font-settings-btn-lg);
  color: $color-main-text;
  @include content-width();
  display: block;
  @include ld-margin-bottom($gutter*3);

  &:hover {
    .nhs-big-btn__arrow {
      animation: bounce-right 2s infinite;
    }
  }
}

.nhs-big-btn__main {
  @include flexbox(row, wrap, flex-start, center);
}

.nhs-big-btn__text{
  max-width: calc(100% - 125px);

  @include md-min(){
    max-width: calc(100% - 300px);
  }
}

.nhs-big-btn__arrow{
  margin-left: $gutter;

  @include md-min(){
    margin-left: $gutter*4;
  }
}

.nhs-big-btn__icon {
  width: 100px * .8;
  height: 55px * .8;
  @include md-min{
    width: 100px;
    height: 55px;
  }
  $arrow-color: encodecolor($color-main-text);
  background-image: url("data:image/svg+xml,%3Csvg class='icon icon-arrow-link-right' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 105 55'%3E%3Cpath fill='#{$arrow-color}' d='M75.9 53.7l26.2-26.2L75.9 1.3v8.5l14.7 14.7H2v6h88.6L75.9 45.2z'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
