.offerings {
  @include full-width();
  @include flexbox(row, wrap, space-between, flex-start);
  @include ld-margin-bottom($gutter * 6);

  @include xl-min {
    @include ld-margin-bottom($gutter * 10);
  }

  .show-on-mobile {
    display: block;
    @include xl-min{
      display: none;
    }
  }

  .show-on-desktop {
    display: none;

    @include xl-min{
      display: block;
    }
  }
}

.offerings__filter-container {
  border-top: 1px solid black;
  width: 100%;

  // @include md-min{
  //   width: calc(50% - #{$gutter*2});
  // }

  @include xl-min{
    width: calc(50% - #{$gutter*4});
  }
}

.offerings__dropdown-toggler {
  display: block;
  @include font-size($font-settings-navigation-main);
  padding: $gutter/2 0;
  cursor: pointer;
  @include flexbox(row, wrap, space-between, center);
  @include xl-min{
    display: none;
  }
}


.offerings__dropdown-content{
  display: none;

  @include xl-min{
    display: block !important;
  }
}

.offerings__icon{
  width: 14px;
  display: block;
  &:before,
  &:after {
    content: "";
    background: $color-dark-gray;
    width: 14px;
    height: 2px;
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    transition: 0.4s transform ease-in;

    .open &{
      transform: rotate(180deg);
    }
  }

  &:after {
    transition: 0.5s transform ease-out;
    transform: rotate(-90deg);

    .open & {
      transform: rotate(0);
    }
  }
}

.offerings__filter {
  @include font-size($font-settings-navigation-main);
  padding: $gutter/2 0;
  display: block;

  &.active {
    color: $color-orange;
  }
}

.offerings__graphics {
  width: 100%;
  @include responsive-ratio(100%, 1, 1, '.offerings__graphic');
  margin-top: $gutter*2;

  @include md-min{
    margin: 0 auto;
    margin-top: $gutter*2;
    width: 75%;
    @include responsive-ratio(75%, 1, 1, '.offerings__graphic');
  }

  @include xl-min{
    margin-top: 0;
    width: 50%;
    @include responsive-ratio(50%, 1, 1, '.offerings__graphic');
  }
}

.offerings__graphic {
  .show-on-desktop,
  .show-on-mobile {
    transition: .5s all ease-in-out;
    transform-origin: center center;
  }

  &.active {
    z-index: 2;
  }

  .animate--in{
    transform-origin: center center;
    transition: .5s all ease-in-out;
    opacity: 1;
    .show-on-desktop,
    .show-on-mobile {
      transform: scale(1);
    }
  }

  .animate--out{
    transition: .5s all ease-in-out;
    opacity: 0.4;
    .show-on-desktop,
    .show-on-mobile {
      transform: scale(.9);
    }
  }

  // stuff that is always visible
  .Kreis.animate--out,
  .inner-text.animate--out{
    opacity: 1;

    .show-on-desktop,
    .show-on-mobile {
      animation: unset;
      transform: scale(1);
    }
  }
}

#Leistungsgrafik{
  .st0{fill:#FF9764;}
	.st1{fill:#404851;}
	.st2{fill:#4BBB87;}
	.st3{fill:none;stroke:#404851;stroke-miterlimit:10;stroke-dasharray:4.9869,4.9869,4.9869,4.9869,4.9869,4.9869;}
	.st4{fill:none;stroke:#404851;stroke-miterlimit:10;stroke-dasharray:5,5,5,5,5,5;}
	.st5{fill:#FFFFFF;}
	.st6{fill:none;}
}

