.post-list {
  @include flexbox(row, wrap, space-between, flex-start);
  @include full-width();
  @include ld-margin-bottom($gutter*6);
}

.post-list__layout {
  @include ld-margin-bottom($gutter * 4);
  @include flexbox(row, wrap, space-between, center);

  @include md-min {
    @include ld-margin-bottom($gutter * 3);
  }

  @include xl-min {
    @include ld-margin-bottom($gutter * 6);
  }

  &:nth-child(3n + 2) {
    @include flexbox(row, wrap, space-between, flex-start);
  }
}

.post-list__post {
  @include flexbox($align-content: center);
  @include ld-margin-bottom($gutter * 4);

  @include xl-min {
    @include ld-margin-bottom($gutter * 10);
  }

  .js-no-interaction & {
    display: flex;
    transform: translateY(0px);
    opacity: 1;
  }
}

.post-list__post--story,
.post-list__post--case {
  display: none;
  transition: .3s all ease;
  transform: translateY(100px);
  opacity: 0;

  &.visible {
    display: flex;
  }

  &.fade-in-up {
    transform: translateY(0px);
    opacity: 1;
  }
}

.post-list__post--story {
  @include lg-min {
    width: calc(50% - #{$gutter} * 3);
  }

  &:nth-child(1),
  &:nth-child(2) {
    @include lg-min {
      margin-top: 0;
    }
  }

  &:nth-child(1) {
    .post-list__layout:nth-child(3n + 1) &  {
      @include lg-min {
        width: calc(50% - #{$gutter} * 6);
      }

      @include xl-min {
        width: calc(40% - #{$gutter} * 6);
      }
    }

    .post-list__layout:nth-child(3n + 3) &  {
      @include lg-min {
        width: 60%;
      }
    }
  }

  &:nth-child(2) {
    .post-list__layout:nth-child(3n + 1) &  {
      @include lg-min {
        width: 60%;
      }
    }

    .post-list__layout:nth-child(3n + 2) &  {
      @include lg-min {
        margin-top: $gutter * 5;
      }
    }

    .post-list__layout:nth-child(3n + 3) &  {
      @include lg-min {
        width: calc(50% - #{$gutter} * 6);
      }

      @include xl-min {
        width: calc(40% - #{$gutter} * 6);
      }
    }
  }
}

.post-list__link-image {
  display: block;

  &--yellow {
    background-color: $color-yellow;
  }

  &--pink {
    background-color: $color-pink;
  }

  &--blue {
    background-color: $color-blue;
  }

  &--green {
    background-color: $color-green;
  }

  &--orange {
    background-color: $color-orange;
  }

  &:hover {
    img {
      @include xl-min {
        transform-origin: center center;
        transform: scale(1.07);
      }
    }
  }
}

.post-list__image {
  @include lg-min {
    width: 60%;
  }

  img {
    @include xl-min {
      transition: 0.3s transform ease;
    }
  }

  .post-list__post--story & {
    width: 100%;
  }
}

.post-list__content {
  width: 80%;
  margin-top: $gutter;

  @include lg-min {
    margin-top: 0;
    width: calc(40% - #{$gutter * 2} );
    padding-left: $gutter * 2;
  }

  .post-list__post--reverse & {
    @include lg-min {
      order: -1;
      padding: 0 $gutter * 2 0 0 ;
    }
  }

  .post-list__post--story & {
    @include lg-min {
      width: 100%;
      padding-left: 0;
    }
  }
}

.post-list__meta {
  @include font-size($font-settings-text-xs);

  .post-list__post--story & {
    margin-bottom: $gutter;
  }
}

.post-list__date {
  margin-right: $gutter;
}

.post-list__title {
  margin-top: $gutter;
  margin-bottom: $gutter / 2;
  @include font-size($font-settings-text-lg);

  @include lg-min {
    margin-top: $gutter * 3;
    margin-bottom: $gutter;
  }

  .post-list__post--story & {
    margin-top: 0;

    @include lg-min {
      margin-top: $gutter;
    }
  }
}

.post-list__excerpt {
  @include font-size($font-settings-text-sm);
}

.post-list__link {
  margin-top: $gutter;
  display: inline-block;

  @include lg-min {
    margin-top: $gutter * 3;
  }

  .post-list__post--story & {
    margin-top: $gutter / 2;

    @include lg-min {
      margin-top: $gutter;
    }
  }
}

.post-list__link-title {
  color: $color-main-text;

  .grey-theme & {
    color: $color-white;
  }

  &:hover {
    color: $color-orange;
  }
}
