#two,
#one {
  display: none;
}

.ns-main-title {
  @include content-width();
  @include font-size($font-settings-title-xl);
  @include ld-margin-bottom($gutter*2);

  @include md-min{
    @include ld-margin-bottom($gutter*3);
  }

  @include xl-min{
    @include ld-margin-bottom($gutter*5);
  }
}

.animated-title {
  position: relative;
  overflow: hidden;
  padding: $gutter 0;
  @include screen-width();
  @include ld-margin-bottom($gutter*2);

  @include md-min{
    @include ld-margin-bottom($gutter*3);
  }

  @include xl-min{
    @include ld-margin-bottom($gutter*5);
  }
}

.animated-title__title {
  @include content-width();
  @include font-size($font-settings-title-xl);
  z-index: 10;
  color: $color-dark-gray;
}


.animated-title__svg-wrapper--wave{
  @include responsive-ratio(100%, 2881.6, 255, 'svg');
}

.animated-title__svg-wrapper--zigzag{
  @include responsive-ratio(100%, 2935.01, 286.03, 'svg');

  svg {
    width: calc(100vw + 200px);
    height: auto;
    left: -100px;
  }
}

.animated-title__svg-wrapper--dashed{
  @include responsive-ratio(100%, 2000, 75, 'svg');

  &:first-of-type{
    top: 0;
    transform: translateY(0);
  }

  &:last-of-type{
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }

  + .animated-title__title {
    padding: $gutter*2 0;

    @include md-min{
      padding: $gutter*4 0;
    }

    @include xl-min{
      padding: $gutter*6 0;
    }
  }
}

.animated-title__svg-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  .bottom{
    transform: translateX(100%);
    animation: slidein2 2s linear forwards;
  }

  .top{
    transform: translateX(-100%);
    animation: slidein 2s linear forwards;
  }
}


#rec-fife{
  animation: bounce4 0.9s ease 2s forwards;
}
#rec-fore{
  animation: bounce1 0.9s ease 2s forwards;
}
#rec-three{
  animation: bounce3 0.9s ease 2s forwards;
}
#rec-two{
  animation: bounce5 0.9s ease 2s forwards;
}
#rec-one{
  animation: bounce3 0.9s ease 2s forwards;
}

#rec2-fife{
  animation: bounce22 0.9s ease 2s forwards;
}
#rec2-fore{
   animation: bounce25 0.9s ease 2s forwards;
}
#rec2-three{
   animation: bounce22 0.9s ease 2s forwards;
}
#rec2-two{
   animation: bounce21 0.9s ease 2s forwards;
}
#rec2-one{
   animation: bounce23 0.9s ease 2s forwards;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%)
  }
  100%{
    transform: translateX(47%)
  }
}

@keyframes slidein2 {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(-34%);
  }
}

@keyframes bounce1 {
  0% {
    transform: translateX(2%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(2%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}

@keyframes bounce2 {
  0% {
    transform: translateX(3%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(3%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}

@keyframes bounce3 {
  0% {
    transform: translateX(4%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(4%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}
@keyframes bounce4 {
  0% {
    transform: translateX(5%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(5%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}
@keyframes bounce5 {
  0% {
    transform: translateX(6%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(6%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}

  @keyframes bounce21 {
  0% {
    transform: translateX(-2%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(-2%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}

@keyframes bounce22 {
  0% {
    transform: translateX(-3%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(-3%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}

@keyframes bounce23 {
  0% {
    transform: translateX(-4%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(-4%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}
@keyframes bounce24 {
  0% {
    transform: translateX(-5%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(-5%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}
@keyframes bounce25 {
  0% {
    transform: translateX(-6%) scale(0.9,1);
  }
  33% {
    transform: translateX(0%) scale(1,1);
  }
  66% {
    transform: translateX(-6%) scale(0.9,1);
  }
  100% {
     transform: translateX(0) scale(1,1);
  }
}
