html {
  font-size: 62.5%;
  width: 100%;
}

body {
  @include type-face($type-face, $font-weight);
  color: $color-main-text;
  background-color: $color-primary;
  overflow-x: hidden;
  padding-top: 45px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  @include type-face($type-face, $font-weight);
}

h1 {
  @include font-size($font-settings-h1);
}

h2 {
  @include font-size($font-settings-h2);
}

h3 {
  @include font-size($font-settings-h3);
}

img {
  max-width: 100%;
  height: auto;
  display: block;

  &.lazy {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
  }

  &.loaded {
    opacity: 1;
    visibility: visible;
  }
}

a {
  text-decoration: none;
  color: $color-main-text;

  &:hover,
  &:focus{
    color: $color-main-text;
    border-bottom: $border-default;
  }
}

li{
  list-style: none;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}


.no-focus {
  *:focus {
    outline: 0;
    box-shadow: none;
  }
}
button{
  border: none;
  background: none;
}
button:focus { 
  outline: none; 
}


.content{
  @include full-width();
}

.grid-container{
  @include make-grid-container();
}

.grid-offset-container{
  @include make-offset-grid-container();
}

.grid-half{
  @include make-grid-item($col-span-content, $margin-bottom: 0);
  
  @include sm-max(){
    @include make-grid-item($col-count);
  }
}

.mobile-only{
  display: none;
  @include sm-max(){
    display: block;
  }
}
