.accordion {
    @include ld-margin-bottom($spacing-between-sections);
}

.accordion-item {
    &__title {
        text-align: left;
        @include font-size($font-settings-accordion-title);
    }
    
    &__button {
        width: 100%;
        cursor: pointer;
        color: var(--mim-text-color);
        padding: 20px 65px 20px 29px;
        border: 1px solid var(--mim-text-color);
        border-radius: 300px 300px 300px 300px;
        margin-top: 1px;

        &::after {
            content: '';
            width: 25px;
            height: 25px;
            background-image: url('#{$img-path}arrow.svg');
            background-size: contain;
            background-position: center;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%) rotate(0);
            transition: transform 0.2s ease-in-out;
        }

        &.active {
            border: none;
            border-radius: 30px 30px 0 0;

            &::after {
                transform: translateY(-50%) rotate(90deg);
                transition: transform 0.2s ease-in-out;
            }
        }
    }  
    
    &__button.active,
    &__button.active + .accordion-item__content {
        background-color: $color-blue;
    }
    
    &__content {
        height: 0;
        padding: 0;
        opacity: 0;
        transition: opacity 0.2s ease 0s, padding 0.1s ease 0.2s;
        overflow: hidden;
        border-radius: 0 0 30px 30px;
        columns: 2;

        .accordion-item__button.active + & {
            padding: 0 65px 35px 29px;
            opacity: 1;
            transition: opacity 0.1s ease 0.2s, padding 0.1s ease 0s;
        }

        > * {
            @include font-size($font-settings-accordion-text);
            max-width: 275px;
        }
    }
}