.totop {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    left: 50%;
    padding: 0;
    z-index: 1000;
    transform: translateX(-50%) rotate(-90deg);
    cursor: pointer;
    background: url(../svg/Pfeil_rechts_2px.min.svg) no-repeat right center;
    background-size: 15px auto;

    &__text{
        opacity: 0;
    }
}
