
.filter {
    @include ld-margin-bottom($spacing-between-sections);
    @include sm-max(){
        @include ld-margin-bottom($col-count);
    }

    &__wrapper{
        @include make-grid-item($col-span-tile-8);
        
        @include sm-max(){
            @include make-grid-item($col-count);
        }
    }

    &__button,
    &__text{
        @include type-face($type-face-serif, $font-weight-bold);
        @include font-size($font-settings-filter); 
        display: inline;
        white-space: nowrap;
    }

    &__button{
        cursor: pointer;
        span{
            text-decoration: underline;
        }
    }
}
