.footer{
    border-top: $border-default;
    padding-top: $spacing-between-sections/2;
    padding-bottom: $spacing-between-sections;

    @include type-face($type-face, $font-weight);
    @include font-size($font-settings-footer);
    @include full-width();
    &__container{
        @include flexbox(row, wrap, space-between, flex-start);
    
        @include md-max(){
            @include flexbox(row, wrap, flex-start, flex-start);  
          }
    }

    &__left{
        width: auto;  
        @include md-max(){
          width: 100%;  
        }
    }

    &__center ul{
        @include flexbox(column, wrap, flex-start, flex-start);
        @include md-max(){
            @include flexbox(row, wrap, flex-start, center);
            width: 100%;
        }

        li{
            margin-right: calc(25% - 35px);
        }
    }

    &__center{
        @include md-max(){
            margin-top: $spacing-between-sections/2;
            width: 100%;
        }
    }

    &__right{
        @include md-max(){
            display: none;
        }
    }

    li{
        margin-bottom: 10px;
        @include md-max(){
            margin-bottom: 0;  
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    .linkedin{
        a{
            background: url(../svg/in.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 35px;
            display: inline-block;
        }
    }
    .mail{
        a{
            background: url(../svg/mail.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 25px;
            display: inline-block;
        }
    }
    .instagram{
        a{
            background: url(../svg/instagram.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 35px;
            display: inline-block;
        }
    }
    .logo{
        a{
            background: url(../svg/logo.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 35px;
            display: inline-block;
        }
    }

    a span{
        display: none;
    }
}
