.footer{
    border-top: $border-default;
    padding-top: $spacing-between-sections/2;
    padding-bottom: $spacing-between-sections;

    @include type-face($type-face, $font-weight);
    @include font-size($font-settings-footer);
    @include flexbox(row, wrap, space-between, flex-start);

    @include md-max(){
        @include flexbox(row, wrap, flex-start, flex-start);  
      }

    &__left{
        width: auto;  
        @include md-max(){
          width: 100%;  
        }
    }

    &__center ul{
        @include flexbox(row, wrap, flex-start, flex-start);

        li{
            margin-right: $gutter*2;
        }
    }

    &__center,
    &__right{
        @include md-max(){
            margin-top: $spacing-between-sections/2;  
          }
    }
}
