.footer{
    border-top: $border-default;
    padding-top: $spacing-between-sections/2;
    padding-bottom: $spacing-between-sections;
    margin-top: $spacing-between-sections;
    @include sm-max(){
        margin-top: $spacing-between-sections/2;
    }
    
    .prevNext + &{
        margin-top: 10px;
    }
    
    @include type-face($type-face, $font-weight);
    @include font-size($font-settings-footer);
    @include full-width();

    &__container{
        @include flexbox(row, wrap, space-between, flex-start);
        
        @include md-max(){
            @include flexbox(row, wrap, flex-start, flex-start);  
        }
    }
    
    &__left{
        width: auto;  
        @include md-max(){
            width: 100%;  
        }
    }
    
    &__center ul{
        @include flexbox(column, wrap, flex-start, flex-start);
        @include md-max(){
            @include flexbox(row, wrap, flex-start, center);
        }
        
        li{
            margin-right: calc(25% - 35px);
            @include md-max(){
                margin-right: $gutter;
            }
        }
    }
    
    &__center{
        @include md-max(){
            margin-top: $spacing-between-sections/2;
        }
    }
    
    &__right{
        @include md-max(){
            position: absolute;
            bottom: 0;
            right: 0;
        }

        a{
            @include md-max(){
                .menu-open &{
                    color: $color-white;
                }
            }
        }
    }
    
    &__anchor{
        text-decoration: none;

        &:hover,
        &:active{
            text-decoration: underline;
        }
        .menu-open &{
            @include sm-max(){
                color: $color-white;
            }
        }
    }
    
    li{
        margin-bottom: 10px;
        @include md-max(){
            margin-bottom: 0;  
        }
        
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    .linkedin{
        a{
            background: url(../svg/in.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 35px;
            display: inline-block;
            
            .menu-open &{
                @include sm-max(){
                    background: url(../svg/in-white.min.svg) no-repeat center center;
                }
            }
        }
    }
    .mail{
        a{
            background: url(../svg/mail.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 25px;
            display: inline-block;
            .menu-open &{
                @include sm-max(){
                    background: url(../svg/mail-white.min.svg) no-repeat center center;
                }
            }
        }
    }
    .instagram{
        a{
            background: url(../svg/instagram.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 35px;
            display: inline-block;
            .menu-open &{
                @include sm-max(){
                    background: url(../svg/instagram-white.min.svg) no-repeat center center;
                }
            }
        }
    }
    .logo{
        a{
            background: url(../svg/logo.min.svg) no-repeat center center;
            background-size: 35px auto;
            width: 35px;
            height: 35px;
            display: inline-block;
            .menu-open &{
                @include sm-max(){
                    background: url(../svg/logo-white.min.svg) no-repeat center center;
                }
            }
        }
    }
    
    a span{
        display: none;
    }
    
    .menu-open &{
        @include sm-max(){
            z-index: 10000;
            color: $color-white;
            border-top: $border-default-white;
            position: fixed;
            bottom: 0;
            left: $gutter * 2;
        }
    }
}
