.footer-contact__title{
  @include font-size($font-settings-title-md);
}

.footer-contact__button{
  margin: $gutter*2 0 60px;

  .nhs-fancy-btn__inner{
    padding-left: $gutter*3;
    padding-right: $gutter*3;
  }
}


body[class*="-theme"]:not(.standard-theme){
  .footer-contact__button .nhs-fancy-btn__inner{
    background: $color-dark-gray;
    color: $color-white;
  }
}
