.swiper-container {
  padding: $gutter*4 0;
  max-height: 80vh;
  width: 100%;

  .swiper-wrapper  {
    max-height: calc(80vh - #{$gutter*8});
  }
}

.swiper-slide {
  width: auto;
  height: 100% !important;

  img {
    box-shadow: 0 0 0 0 transparent;
    transition: .3s all ease;
    width: auto;
    height: 100%;
    max-width: 100%;
  }
}

.swiper-slide-active {
  img {
    box-shadow: -10px 10px 20px 0 rgba($color-black, 0.5);
  }
}

.swiper-pagination-fraction {
  @include font-size($font-settings-text-xs);
}

.swiper-prev-next-wrapper {
  position: absolute;
  bottom: 0;
  width: 150px;
  left: 50%;
  transform: translateY(-50%);
  @include flexbox(row, wrap, space-between, center);

  .swiper-pagination,
  .swiper-button-prev,
  .swiper-button-next {
    display: inline-block;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
  
  .swiper-pagination {
    width: auto;
  }

  .swiper-button-prev {
    $triangle-color: encodecolor($color-dark-gray);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'#{$triangle-color}'%2F%3E%3C%2Fsvg%3E");
    
    &:hover {
      $triangle-color: encodecolor($color-orange);
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'#{$triangle-color}'%2F%3E%3C%2Fsvg%3E");
    }
  }

  .swiper-button-next {
    $triangle-color: encodecolor($color-dark-gray);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'#{$triangle-color}'%2F%3E%3C%2Fsvg%3E");
    
    &:hover {
      $triangle-color: encodecolor($color-orange);
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'#{$triangle-color}'%2F%3E%3C%2Fsvg%3E");
    }
  }

  .swiper-button-next, .swiper-button-prev {
    background-size: 12px 23px;
    width: 12px;
    height: 23px;
    margin-top: 0;
  }
}
