.ns-hamburger {
  width: 30px;
  height: 18px;
  position: relative;
  cursor: pointer;
  // margin-top: 10px;

  @include md-min{
    display: none;
  }
}

.ns-hamburger__line {
  width: 30px;
  height: 2px;
  background: $color-main-text;
  display: block;
  position: absolute;
  transition: .2s all ease;

  .grey-theme & {
    background: $color-white;
  }
}

.ns-hamburger__line-1{
  top: 0;
  left: 0;

  .animate--out & {
    animation: line-1-reverse .3s;
    animation-fill-mode: forwards;
  }

  .animate--in & {
    animation: line-1 .3s;
    animation-fill-mode: forwards;
  }
}

.ns-hamburger__line-2{
  top: calc(50% - 1px);
  left: 0;
  .animate--out & {
    animation: line-2-reverse .3s;
    animation-fill-mode: forwards;
  }

  .animate--in & {
    animation: line-2 .3s;
    animation-fill-mode: forwards;
  }
}

.ns-hamburger__line-3{
  left: 0;
  bottom: 0;

  .animate--out & {
    animation: line-3-reverse .3s;
    animation-fill-mode: forwards;
  }

  .animate--in & {
    animation: line-3 .3s;
    animation-fill-mode: forwards;
  }
}
