.header {
    width: 100%;    
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    background-color: $color-white;
    @include ld-margin-bottom($spacing-between-sections);
    @include sm-max(){
        height: 45px;
        transition: .5s all ease-in-out;
        @include ld-margin-bottom($spacing-between-sections/2);
    }

    .home &{
        @include sm-max(){
            background-color: $color-beige;
        }
    }

    &__container{
        @include full-width();
        @include flexbox(row, wrap, flex-start, flex-start);
        overflow: hidden;
        min-height: 35px;
        @include sm-max(){
            overflow: visible;
        }
    }

    &__logo{
        .home &{
            background: url(../svg/logo.min.svg) no-repeat left center;
            background-size: 20px auto;
            background-color: $color-white;
            z-index: 10;
            padding-right: $gutter * 3; 
            display: none;
        }
        border-bottom: none;
        background: url(../svg/logo.min.svg) no-repeat left center;
        background-size: 20px auto;
        background-color: transparent; 
        width: auto;
        height: 35px;
        z-index: 10;
        padding-right: $gutter * 4;
        display: block;
    }
    
    &__text{
        text-decoration: none;
        color: $color-main-text;

        &:hover,
        &:focus{
            text-decoration: none;
            color: $color-main-text;  
        }
    }

    &__navigation{
        @include flexbox();
        @include font-size($font-settings-header);
        position: relative;
        top: 12px;

        li{
            padding-right: $gutter;

            &:hover{
                text-decoration: underline;
            }
        }
        a{
            text-decoration: none;
        }

        .home &{
            position: absolute;
        }
    }
}

.animated-text{
    @include font-size($font-settings-header);
    white-space: nowrap;
    position: absolute;
    right: 0;
    padding-top: 12px;
    width: 99.5% / $col-count * 8;  
    overflow: hidden;
    
    &__inner{
        @include flexbox($wrap: nowrap);
        animation: 50s slide-right linear infinite;
    }

    &__item{
        margin-right: 30px;
    }

    @include sm-max(){
        display: none;
    }
}

@keyframes slide-right { 
    0% {margin-left: 100%; opacity: 0;}
    1% {margin-left: 100%; opacity: 1;}
   99% {margin-left: -300%; opacity: 1;} 
  100% {margin-left: -300%; opacity: 0;} 
}
