
.hero-image {
    height: 100vh;
    width: 100%;
    position: fixed;
    &__image {
        width: 100%;
        max-width: 100%;

        &.screen-only {
            display: block;
            @include sm-max(){
                display: none;
            }
        }

        &.mobile-only {
            display: none;
            @include sm-max(){
                display: block;
            }
        }
    }
}

.hero-image--placeholder {
    height: 100vh;
}

