.image,
.wp-block-image {
    @include ld-margin-bottom($spacing-between-sections/2);
    @include sm-max(){
        @include ld-margin-bottom($spacing-between-sections/4);
        @include ld-margin-bottom($spacing-between-sections/2, '.footer');
    }
    img{
        width: 100%;
    }
    
    figcaption{
        display: none;
    }
    
    .image-container & {
        @include ld-margin-bottom(0);
    }
}

.image--full-with,
.is-style-image--full-with{
    width: 100%;
}

.image--col-3 {
    @include make-grid-item(3);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-4 {
    @include make-grid-item(4);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-5 {
    @include make-grid-item(5);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-6 {
    @include make-grid-item(6);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-7 {
    @include make-grid-item(7);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-8 {
    @include make-grid-item(8);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-9 {
    @include make-grid-item(9);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-10 {
    @include make-grid-item(10);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-11 {
    @include make-grid-item(11);
    @include sm-max(){
        @include make-grid-item(12);
    }
}

.image--col-12 {
    @include make-grid-item(12);
}

.image--content-with:not(.is-style-image--full-with),
.wp-block-image{
    @include full-width(); 
}

img.image__col-ten{
    @include make-grid-item(10, $margin-bottom: 0);
    margin: auto;
}

.image-with-text{
    @include ld-margin-bottom($spacing-between-sections/2);
    @include sm-max(){
        @include ld-margin-bottom($spacing-between-sections/4);
    }

    &__container{
        @include flexbox(row, wrap, flex-start, center);
    }

    &__img{
        @include make-grid-item(9, $margin-bottom: 0);
        
        @include md-max(){
            @include make-grid-item(12, $margin-bottom: $spacing-between-sections/2);
        }

        img{
            width: 100%;
        }
    }

    &__text{
        @include make-grid-item(2, $margin-bottom: 0); 
        margin-left: 100% / 12 * 1; //100% / $cols-per-row * $item-col-spread;
        
        @include md-max(){
            @include make-grid-item(9, $margin-bottom: 0);
            margin-left: 100% / 12 * 3; //100% / $cols-per-row * $item-col-spread;
        }
    }

    &__cat{
        @include type-face($type-face, $font-weight-bold);
        @include font-size($font-settings-image-text-cat);
        @include ld-margin-bottom($gutter);
    }

    &__txt{
        @include type-face($type-face, $font-weight);
        @include font-size($font-settings-image-text);
    }
}
