.konami{
  .content,
  body{
    color: #B53471 !important;
    background-color: #FDA7DF !important;

    a{
      color: #FDA7DF !important;
    }
  }

  .header,
  .header__inner{
    background-color: #D980FA !important;
  }

  * {
    cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat920.cur), auto !important;
  }

  .header-spacer{
    background: #e55039 !important;
  }

  .footer{
    background: #D980FA !important;
  }
}