.loading-wrapper {
  width: 100%;
  @include flexbox(row, wrap, center, center);
  min-height: 300px;
}

.loading-wrapper__spinner {
  opacity: 1;
  height: 40px;
  width: 40px;
  margin: 50px;
  border-radius: 50%;
  animation: spinner 4s linear infinite;
}
