.post__meta {
  @include content-width();
  @include font-size($font-settings-navigation-main);
  margin-bottom: $gutter;

  span {
    margin-right: $gutter;
  }

  a {
    color: $color-main-text;
  }
}