.prev-next{
    @include flexbox(row, wrap, space-between, flex-start);
    @include ld-margin-bottom(0px);
    @include font-size($font-settings-body);
    &__left{
        background: url(../svg/Pfeil_links_2px.min.svg) no-repeat left center;
        a{
            padding-left: 35px;
        }

        &:hover{
            span{
                opacity: 1;
                transition: all 0.3s linear;
            }
        }
    }

    &__right{
        background: url(../svg/Pfeil_rechts_2px.min.svg) no-repeat right center;
        a{
            padding-right: 35px;
        }

        &:hover{
            span{
                opacity: 1;
                transition: all 0.3s linear;
            }
        }
    }

    &__arrow{
        background-size: 15px auto;
        height: 35px;
        @include flexbox(column, wrap, center, flex-start);
        display: pointer;

        span{
            @include md-max(){
                margin-top: 2px;
            }
        }
    }

    span{
        opacity: 0;
        display: block;
    }

    a{
        display: block;
        height: 100%;
        text-decoration: none;
    }
}
