.header{
  .searchform-container{
    width: 100%;
    position: absolute;
    display: none;
    top: 100%;
    z-index: 50;

    @include md-min{
      top: auto;
    }
  }

  &.js-header--show{
    .searchform-container{
      @include md-min{
        margin-top: -12px;
      }
    }
  }

  .searchform{
    box-shadow: -10px 10px 20px rgba($color-dark-gray, .2);
    padding: 0 $gutter*2 0 $gutter;
    overflow: hidden;
    background: $color-white;
    z-index: 20;
    width: 100%;
    opacity: 0;
    transition: all .4s ease;
    height: 5rem;

    @include sm-min {
      padding-left: $gutter * 2;
    }

    @include md-min{
      max-width: 0;
      border-radius: $gutter;
      position: absolute;
      width: 50rem;
      right: 0;
      padding-left: $gutter;
    }

    &.active{
      max-width: 100%;
      opacity: 1;

      @include md-min{
        max-width: 50rem;
      }

    }
  }

  .searchform__input{
    @include font-size($font-settings-btn-sm);
    @include type-face($type-face, $font-weight);
    display: inline-block;
    appearance: none;
    border: none;
    outline: 0;
    width: 100%;
    height: 100%;

    &::placeholder{
      color: $color-dark-gray;
    }
  }

  .searchform__submit{
    appearance: none;
    border: 0;
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
    width: $gutter*2;
    background: $color-white;

    @include sm-min {
      right: 33px;
    }

    @include md-min {
      right: 0;
    }
  }
}

#js-search-backdrop{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
