.title-lead{
    @include ld-margin-bottom($spacing-between-sections);
    @include sm-max(){
        @include ld-margin-bottom($spacing-between-sections/2);
    }
    &__categories-wrapper{
        @include make-grid-item($col-span-marginal, $margin-bottom: 0);
        
        @include sm-max(){
            @include make-grid-item($col-span-tile-3, $margin-bottom: 0);
        }
    }

    &__wrapper{
        @include make-grid-item($col-span-tile-8);
        
        @include sm-max(){
            @include make-grid-item($col-span-tile-9, $margin-bottom: 0);
        }
    }

    &__title{
        @include type-face($type-face-serif, $font-weight-bold);
        @include font-size($font-settings-h2);
        @include ld-margin-bottom($spacing-between-sections/2);
        @include sm-max(){
            @include ld-margin-bottom($gutter);
        }
    }
    
    &__categories{ 
        @include type-face($type-face, $font-weight);
        @include font-size($font-settings-categories-post);
        @include ld-margin-bottom($gutter);
        @include ld-margin-bottom(0, '.title-lead__categories');
    }

    &__lead{
        @include type-face($type-face, $font-weight);
        @include font-size($font-settings-lead);
        @include make-grid-item($col-span-content);
        padding-left: 0;
        
        @include sm-max(){
            @include make-grid-item($col-count, $margin-bottom: 0);
            padding-left: 0;
        }
    }

    &__copyright{
        @include type-face($type-face, $font-weight);
        @include font-size($font-settings-infotext);
    }

    &__image{
        margin-right: (100% / 12);
        @include make-grid-item($col-span-tile-3, $margin-bottom: 0);
            
        @include sm-max(){
            margin-right: 0; 
            @include make-grid-item($col-count, $margin-bottom: 0);
        }
    }

    &__img{
        width: 100%;
    }
}