.title-image{
    @include ld-margin-bottom($spacing-between-sections);
    @include sm-max(){
        @include ld-margin-bottom($spacing-between-sections / 2); 
    }

    &__wrapper{
        @include make-grid-item($col-span-tile-6);
        @include ld-margin-bottom($spacing-between-sections/4);
        
        @include sm-max(){
            @include make-grid-item($col-count);
        }
    }
    
    &__title{
        @include type-face($type-face-title, $font-weight);
        @include font-size($font-settings-image-title);
        @include fluid-fontsize(2.6rem, 8rem);
        @include ld-margin-bottom($spacing-between-lead-content);
        
        .title-image__wrapper--big &{
            @include font-size($font-settings-h2);
        }
    }

    &__lead{ 
        @include type-face($type-face-title, $font-weight);
        @include font-size($font-settings-image-text-lead);
        @include make-grid-item($col-count, $col-count, 0);
        @include ld-margin-bottom(80px); 
        
        @include sm-max(){
            @include ld-margin-bottom(45px); 
        }
    }

    &__image{
        @include make-grid-item($col-span-tile-6, $margin-bottom: 0);
        @include ld-margin-bottom(0); 
        padding-right: 75px;
            
        @include sm-max(){
            margin-right: 0; 
            @include make-grid-item($col-count, $margin-bottom: 0);
            @include ld-margin-bottom($spacing-between-sections / 2); 
        }
    }

    &__credit {
        display: flex;
        margin-bottom: 50px;

        p {
            margin-top: 0;
        }
    }

    &__text {
        @include font-size($font-settings-credits);

        &.bold {
            @include type-face($type-face, $font-weight-bold);
            margin-right: 24px;
        }
    }

    .title-image__image img{
        width: 100%;
    }
}