$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-backend: #1dd1a1 !default;
$color-blue: #0013FF !default;
$color-blue-90: rgba($color-blue, 0.9) !default;
$color-beige: #F1EBE6;

$color-gray: #E9E9E9 !default;
$color-main-text: $color-black !default;
$color-primary: $color-gray !default;
