$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-backend: #1dd1a1 !default;

$color-gray: #D8D8D8 !default;
$color-main-text: $color-black !default;
$color-primary: $color-gray !default;
