// FONT-FACE SETTINGS HERE
/* @font-face {
  font-family:"Circular Std";
  src: url("#{$font-path}lineto-circular-medium.eot");
  src: url("#{$font-path}lineto-circular-medium.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}lineto-circular-medium.woff2") format("woff2"),
       url("#{$font-path}lineto-circular-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */

@font-face {
  font-family: 'Lausanne';
  src: url("#{$font-path}Lausanne-300.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lausanne';
  src: url("#{$font-path}Lausanne-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Trial';
  src: url("#{$font-path}value-serif-bold-trial.otf")
  format("opentype");
}

// TYPE-FACE SETTINGS
$type-face-serif: 'Apercu Trial', serif !default;
$type-face: 'Lausanne', sans-serif !default;
$font-weight: 300 !default;
$font-weight-bold: 500 !default;

// FONT-SIZE SETTINGS
$font-settings-body: (
  null: (1.3rem, 1.7rem),
  lg: (2rem, 2.6rem),
) !default;

$font-settings-h1: (
  null: (5rem, 1.1),
  lg: (5rem, 1.1)
) !default;

$font-settings-h2: (
  null: (2.0rem, 2.2rem),
  lg: (5.0rem, 5.4rem)
) !default;

$font-settings-h3: (
  null: (2.5rem, 1.54),
  lg: (2.5rem, 1.54)
) !default;

$font-settings-header: (
  null: (2.6rem, 2.8),
  sm: (1.8rem, 2)
) !default;

$font-settings-pre-title: (
  null: (1.4rem, 1.8rem),
  lg: (2.6rem, 3.0rem)
) !default;

$font-settings-filter: (
  null: (2.6rem, 1),
  lg: (5rem, 1)
) !default;

$font-settings-tiles-title: (
  null: (1.4rem, 1.6rem),
  xl: (3.0rem, 3.2rem)
) !default;

$font-settings-footer: (
  null: (1.4rem, 1.6rem),
  lg: (2.0rem, 2.6rem)
) !default;

$font-settings-categories-post: (
  null: (1.2rem, 1.4rem),
  lg: (2.6rem, 3.0rem)
) !default;

$font-settings-lead: (
  null: (1.3rem, 1.7rem),
  lg: (2.0rem, 2.6rem)
) !default;

$font-settings-image-text: (
  null: (1.3rem, 1.7rem),
  lg: (2.0rem, 2.6rem)
) !default;

$font-settings-image-text-cat: (
  null: (1.2rem, 2.0rem),
  lg: (1.5rem, 2.0rem)
) !default;

$font-settings-infotext: ( 
  null: (1.0rem, 1.4rem),
  lg: (1.6rem, 1.8rem) 
) !default;