// FONT-FACE SETTINGS HERE
/* @font-face {
  font-family:"Circular Std";
  src: url("#{$font-path}lineto-circular-medium.eot");
  src: url("#{$font-path}lineto-circular-medium.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}lineto-circular-medium.woff2") format("woff2"),
       url("#{$font-path}lineto-circular-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
} */

// TYPE-FACE SETTINGS
$type-face-serif: 'Bree Serif', serif !default;
$type-face: 'Open Sans', sans-serif !default;
$font-weight: 600 !default;

// FONT-SIZE SETTINGS
$font-settings-body: (
  null: (2rem, 1.1),
  md: (2.5rem, 1.1),
) !default;

$font-settings-h1: (
  null: (5rem, 1.1),
  md: (5rem, 1.1)
) !default;

$font-settings-h2: (
null: (3.5rem, 1.1),
md: (3.5rem, 1.1)
) !default;

$font-settings-h3: (
  null: (2.5rem, 1.54),
  md: (2.5rem, 1.54)
) !default;