// FONT-FACE SETTINGS HERE
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3afa97");

@font-face {
    font-family: 'Mirador';
    src: url("#{$font-path}3AFA97_0_0.eot");
    src: url("#{$font-path}3AFA97_0_0.eot?#iefix") format("embedded-opentype"), 
    url("#{$font-path}3AFA97_0_0.woff2") format("woff2"), 
    url("#{$font-path}3AFA97_0_0.woff") format("woff"), 
    url("#{$font-path}3AFA97_0_0.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Mirador';
  src: url("#{$font-path}3B067A_0_0.eot");
  src: url("#{$font-path}3B067A_0_0.eot?#iefix") format("embedded-opentype"), 
  url("#{$font-path}3B067A_0_0.woff2") format("woff2"), 
  url("#{$font-path}3B067A_0_0.woff") format("woff"), 
  url("#{$font-path}3B067A_0_0.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Matter';    
    src: url("#{$font-path}Matter-Regular.eot");
    src: url("#{$font-path}Matter-Regular?#iefix") format("embedded-opentype"), 
    url("#{$font-path}Matter-Regular.woff2") format("woff2"), 
    url("#{$font-path}Matter-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Matter';    
  src: url("#{$font-path}Matter-Medium.eot");
  src: url("#{$font-path}Matter-Medium?#iefix") format("embedded-opentype"), 
  url("#{$font-path}Matter-Medium.woff2") format("woff2"), 
  url("#{$font-path}Matter-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// TYPE-FACE SETTINGS
$type-face-serif: "Matter", sans-serif !default;
$type-face-serif2: "Matter", sans-serif !default;
$type-face: "Matter", sans-serif !default;
$font-weight: 300 !default;
$font-weight-semibold: 300 !default;
$font-weight-bold: 700 !default;

// FONT-SIZE SETTINGS
$font-settings-body: (null: (1.6rem, 2rem), lg: (1.8rem, 2.4rem)) !default;

$font-settings-h1: (null: (2.8rem, 3rem)) !default;

$font-settings-h2: (null: (2.8rem, 3rem)) !default; 

$font-settings-h2-article: (null: (4.5rem, 4.5rem), md: (9rem, 9rem)) !default; 

$font-settings-h1-pages: (null: (2.8rem, 3rem), md: (6rem, 6rem)) !default; 

$font-settings-h3: (null: (2.5rem, 1.54), lg: (2.5rem, 1.54)) !default;

$font-settings-image-title: (null: (1.8rem, 1.25), lg: (2.2rem, 2.4rem)) !default;

$font-settings-header: (null: (1.8rem, 2.4rem), lg: (1.8rem, 2.4rem)) !default;

$font-settings-pre-title: (null: (1.4rem, 1.8rem), lg: (2.6rem, 3rem)) !default;

$font-settings-filter: (null: (1.6rem, 1.2), md: (2rem, 1), lg: (3.2rem, 1)) !default;

$font-settings-tiles-title: (null: (2rem, 2.2rem), md: (3rem, 3rem), lg: (2rem, 2.2rem), xl: (3rem, 3rem)) !default;

$font-settings-tiles-categories: (null: (1.2rem, 1.4rem), lg: (1.4rem, 1.8rem)) !default;

$font-settings-tiles-copyright: (null: (1.2rem, 1.4rem)) !default;

$font-settings-footer: (null: (1.3rem, 1.7rem), lg: (1.6rem, 2rem)) !default;

$font-settings-categories-post: (null: (1.2rem, 1.4rem), lg: (2.6rem, 3rem)) !default;

$font-settings-lead: (null: (1.8rem, 2rem), lg: (2.4rem, 3rem)) !default;

$font-settings-image-text: $font-settings-body !default;

$font-settings-image-text-cat: $font-settings-body !default;

$font-settings-infotext: (null: (1.3rem, 1.6rem), lg: (1.6rem, 1.8rem)) !default;

$font-settings-caption: $font-settings-infotext !default;

$font-settings-list: (null: (1.8rem, 2.4rem), lg: (2rem, 2.6rem)) !default;

$font-settings-mobile-navigation: (null: (2.6rem, 3.2rem)) !default;
