$gutter: 15px !default;
$gutter-tiles: 8px !default;
$spacing-titles: 30px !default;
$spacing-between-sections: 100px !default;

$spacing-between-images: 150px !default;
$spacing-between-images-s: 45px !default;

$spacing-between-lead-content: 75px !default;
