.editor-inner-blocks {
  width: 100%;
}

.block-editor-block-list__layout {
  padding: 0;
}

.wp-block {
  width: 100%;
  max-width: $max-width-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

  &[data-align="wide"] {
    max-width: calc(100% - #{$gutter} * 2);
    padding: 0 $gutter;
  }

  &[data-type="nhs-blocks/nhs-newsletter"],
  &[data-type="acf/nhs-jobs"],
  &[data-align="full"] {
    max-width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
  margin-left: 0;
  margin-right: 0;

  > .block-editor-block-list__block-edit {
    margin-left: 0;
    margin-right: 0;
  }
}

.block-editor-block-list__block .block-editor-block-list__block-edit,
.block-editor-block-list__block .block-editor-block-contextual-toolbar {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
