.wp-block-paragraph {
  display: none;
}

.editor-post-title,
.editor-post-title__input,
.editor-post-title__block .editor-post-title__input {
  padding: 0;
}

.editor-styles-wrapper .editor-post-title,
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .editor-post-title__input {
  margin-left: $gutter * 2;
}

div[data-type='nhs-blocks/nhs-story-content'] {
  .editor-block-list__layout {
    @include flexbox(row, wrap, space-between, flex-start);
    width: 100%;
    min-height: 100px;
  }

  div[data-type='nhs-blocks/nhs-story-content-left'] {
    // border: 1px solid $color-backend;
    width: calc(#{100% / 3} - #{$gutter * 2});
  }

  div[data-type='nhs-blocks/nhs-story-content-right'] {
    // border: 1px solid $color-backend;
    width: 70%;
    min-height: 100px;

    + .block-list-appender {
      display: none;
    }
  }
}

.ns-story-content {
  .ns-story-content__left {
    width: 100%;
  }

  .ns-story-content__right {
    width: 100%;
  }
}

.block-list-appender {
  width: 100%;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background: rgba($color-dark-gray, .1);
  }
}

.block-list-appender__toggle {
  margin-left: auto;
  margin-right: auto;
  outline: none;
  background: rgba($color-dark-gray, .1);
  width: 52px;
  border-radius: 50%;
}

.ns-spacer {
  position: relative;
  border-top: 1px solid $color-backend;
  border-bottom: 1px solid $color-backend;

  &:after {
    content: 'place me before Story Content container with h2 title';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-backend;
    font-size: 1.5rem;
  }
}

.accordion__content {
  display: block;
}

.accordion__icon {
  &:after {
    transform: rotate(0deg);
  }
}

.swiper-wrapper {
  @include flexbox(row, wrap, flex-start, center);

  .swiper-slide {
    width: calc(100% / 3);
  }
}

.filter {
  float: none;
}
