@mixin body-backgrounds() {
  .pink-theme & {
    background: $color-pink;
  }

  .blue-theme & {
    background: $color-blue;
  }

  .yellow-theme & {
    background: $color-yellow;
  }

  .grey-theme & {
    background: $color-dark-gray;
    color: $color-white;
  }
}
