@mixin navigation-animation($type) {
  &.#{$type} {
    &.current-menu-item .menu-item-text:after {
      height: 6px;
      background-image: url('../svg/menu-#{$type}.min.svg');
    }

    &:hover .menu-item-text:after {
      height: 6px;
      animation-name: animate-menu-#{$type};
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-image: url('../svg/menu-#{$type}.min.svg');
    }
  }
}
